p {
  font-family: alexandria;
  font-weight: 100;
  font-size: 30px;
  margin: 0;
}

h1 {
  font-family: secular one;
  letter-spacing: 5px;
  margin: 0;
}

h2,
h3,
h4 {
  font-family: alexandria;
  font-size: 200%;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}

a {
  font-family: alexandria;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: 2700px 1490px;
  position: relative;
  color: rgb(227, 227, 227);
  background-color: #161616;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav .right {
  background-color: rgba(65, 65, 65, 0.2);
  border-radius: 30px;
}
nav .right img {
  width: 120px;
}
nav .left a {
  background: rgb(0, 0, 0);
  padding: 1em 2em;
  border-radius: 1em;
  transition: 0.3s;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 3px transparent;
  margin: 0 20px;
}
nav .left a:hover {
  background: none;
}
nav .left a:after {
  background: linear-gradient(to right, #160b40, #ed5e57);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
}

.sec-1 {
  height: 90vh;
  width: 100%;
}
.sec-1 .sec-1-content {
  background-color: rgba(65, 65, 65, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  left: 15em;
  top: 10em;
  width: 40%;
  height: 300px;
  padding: 20px;
}
.sec-1 .sec-1-content h1 {
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2px transparent;
  font-size: 100px;
}
.sec-1 .sec-1-content h1:before {
  background: linear-gradient(to right, #160b40, #ed5e57);
  top: 100%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}
.sec-1 .sec-1-content p {
  font-size: 40px;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 500px;
  z-index: -2;
}
.sec-2 h2 {
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1.5px transparent;
  margin: 70px 0 20px 0;
}
.sec-2 h2:before {
  background: linear-gradient(to right, #160b40, #ed5e57);
  top: 100%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: inherit;
}
.sec-2 p {
  margin-bottom: 70px;
}
.sec-2 div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.sec-2 div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-2 div div h3 {
  margin-top: 20px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1.5px transparent;
}
.sec-2 div div h3:before {
  background: linear-gradient(to right, #160b40, #ed5e57);
  top: 100%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: inherit;
}
.sec-2 div div a {
  background: rgb(0, 0, 0);
  padding: 10px 10px;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 3px transparent;
  width: 8em;
  height: 8em;
}
.sec-2 div div a:hover {
  background: none;
}
.sec-2 div div a:after {
  background: linear-gradient(to right, #160b40, #ed5e57);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
}
.sec-2 div div a img {
  transform: translateX(7%);
}

.sec-3 {
  height: 100vh;
}
.sec-3 div.row {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.sec-3 div.row h2 {
  margin: 70px 0 70px 0;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1.5px transparent;
}
.sec-3 div.row h2:before {
  background: linear-gradient(to right, #160b40, #ed5e57);
  top: 100%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: inherit;
}
.sec-3 div.row div.column {
  display: flex;
  flex-direction: row;
  margin: 70px 0 70px 0;
}
.sec-3 div.row div.column div {
  width: 50%;
  display: flex;
}
.sec-3 div.row div.column div a {
  background: rgb(0, 0, 0);
  padding: 30px 30px;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 3px transparent;
  margin-right: 50px;
}
.sec-3 div.row div.column div a:hover {
  background: none;
}
.sec-3 div.row div.column div a:after {
  background: linear-gradient(to right, #160b40, #ed5e57);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
}
.sec-3 div.row div.column div div.content {
  display: flex;
  flex-direction: column;
}
.sec-3 div.row div.column div h3 {
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1.5px transparent;
  margin-bottom: 30px;
}
.sec-3 div.row div.column div h3:before {
  background: linear-gradient(to right, #160b40, #ed5e57);
  top: 100%;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.5px;
  border-radius: inherit;
}
.sec-3 div.row div.column div p {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
