@mixin atag_border($paddingX, $paddingY, $radius) {
    background: rgb(0, 0, 0);
    padding: $paddingX $paddingY;
    $border: 3px;
    border-radius: $radius;
    transition: 0.3s;

    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid $border transparent;

    &:hover {
        background: none;
    }

    &:after {
        background: linear-gradient(to right, #160b40, #ed5e57);
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
    }
}